@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display',
serif;
font-family: 'Poppins',
sans-serif; */

.navbar{
  font-family: 'Poppins',
      sans-serif;
  font-weight: 25px;
  line-height: 25px;
  text-transform: uppercase;
  box-shadow: 0px 9px 6px -6px grey;
  border-bottom: solid grey 2px !important;
}
.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: solid black 2px;
}

.navbar-brand{
  font-family: 'roboto',sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

.footer{
  color: white;
  position:static;
  bottom: 0;
  width: 100%;
  height: 115px;
  line-height: 20px;
  
  background: linear-gradient(to right, #434343, #000000);
  padding: 11px;
}

.footer a{
  text-decoration: none;
  color:white ;
  padding: 11px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: solid 2px #ffefba;
}

/* Error 404 page */
.head {
  font-size: 200px !important;
  font-weight: 700;
}
.btn-online {
  border: solid white 2px;
  padding: 15px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
}

/* .root{
  min-height: 76.3vh;
  background: linear-gradient(to top, #aa076b, #61045f);
}
.container{
  color: white;
  padding: 90px;
}

.container p{
  font-size: 30px;
}
 */