@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 5px 10px gray, 0 2px 4px gray;
}
.card{
  background: #fff;
  box-shadow: 0 5px 10px gray, 0 2px 4px gray;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
/* font-family: 'Playfair Display',
serif;
font-family: 'Poppins',
sans-serif; */

.navbar{
  font-family: 'Poppins',
      sans-serif;
  font-weight: 25px;
  line-height: 25px;
  text-transform: uppercase;
  box-shadow: 0px 9px 6px -6px grey;
  border-bottom: solid grey 2px !important;
}
.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: solid black 2px;
}

.navbar-brand{
  font-family: 'roboto',sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

.footer{
  color: white;
  position:static;
  bottom: 0;
  width: 100%;
  height: 115px;
  line-height: 20px;
  
  background: linear-gradient(to right, #434343, #000000);
  padding: 11px;
}

.footer a{
  text-decoration: none;
  color:white ;
  padding: 11px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: solid 2px #ffefba;
}

/* Error 404 page */
.head {
  font-size: 200px !important;
  font-weight: 700;
}
.btn-online {
  border: solid white 2px;
  padding: 15px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
}

/* .root{
  min-height: 76.3vh;
  background: linear-gradient(to top, #aa076b, #61045f);
}
.container{
  color: white;
  padding: 90px;
}

.container p{
  font-size: 30px;
}
 */
 /* user profile */

 .form-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #fff;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: white;
  width: 250px;
}

.form-container form button:hover {
  border: 1px solid black;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
}

.forgot-btn:hover {
  color: white !important;
}

 .product-link{
  text-decoration: None !important;
  color: black !important;
 }
